.login-dark {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.dropdown-menu {
  height: auto;
  max-height: 200px;
  overflow-x: hidden;
}

h2{
	margin-top: 0;margin-bottom: 0;font-size: 0.3em;
}

@media (max-width: 768px) { 
	h2{
		font-size: 0.25em;
	}
	table{
		font-size: 12px;
	}

 }
 @media (max-width: 330px) { 

 	h2{
		font-size: 0.2em;
	}
	table{
		font-size: 10px;
	}
 }


